.footer {
    position: relative;
    height: 38rem;
    margin-top: 5rem;
    overflow-x: hidden;
}

.footer > div {
    padding-top: 5rem;
    position: absolute;
    height: 80%;
    bottom: 0;
    left: -8%;
    right: -8%;
    text-align: center;
    border-radius: 50% 50% 0 0;
}

.footer-decorative {
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 40px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    margin: 3rem auto;
}

.rotate-arrow-dark, .rotate-arrow-light {
    font-size: 3rem;
    transform: rotate(-135deg);
    padding: 2rem;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    transition: color 0.6s;
}

.rotate-arrow-dark:hover,
.rotate-arrow-light:hover {
    cursor: pointer;
    animation-name: bounce;
}

.rotate-arrow-dark:hover {
    color: #538f85;
}

.rotate-arrow-light:hover {
    color: #556083;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0) rotate(-135deg);
		-ms-transform:     translateY(0) rotate(-135deg);
		transform:         translateY(0) rotate(-135deg);
	}
	40% {
		-webkit-transform: translateY(-12px) rotate(-135deg);
		-ms-transform:     translateY(-12px) rotate(-135deg);
		transform:         translateY(-12px) rotate(-135deg);
	}
	60% {
		-webkit-transform: translateY(-10px) rotate(-135deg);
		-ms-transform:     translateY(-10px) rotate(-135deg);
		transform:         translateY(-10px) rotate(-135deg); 
	}
}