.box {
    position:fixed;
    top: 0;
    right: 0;
    height: 0%;
    width: 100%;
    bottom: 0;
    margin: 4rem 0;
    opacity: 0;

    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    z-index: 50;
}

.box h5 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.menu {
    height: 0;
    opacity: 0;
    scale: 0;

    transition: all 0.3s ease-in-out;
}

.menu-active {
    height: 100%;
    opacity: 1;
}

.box * {
    margin-right: auto;
    margin-left: auto;
}

.links {
    display: block;
    text-align: center;
    width: 50%;
    padding: 5px 0;
    height: 0;
}