.box {
    /* background-color: red; */
    position:fixed;
    top: 0;
    right: 0;
    height: 0%;
    width: 100%;
    bottom: 0;
    margin: 4rem 0;
    opacity: 0;

    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    z-index: 30;
}

.box h5 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.menu {
    height: 0;
    opacity: 0;
    scale: 0;

    transition: all 0.75s ease-in-out;
}

.menu-active {
    height: 100%;
    opacity: 1;
}

@keyframes menu-closing {
    0% {
        height: 100%;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

.box * {
    margin-right: auto;
    margin-left: auto;
}

.links {
    display: block;
    width: 10rem;
    text-align: center;
    width: 50%;
    padding: 5px 0;

    border-radius: 25px;

    transition: all 0.25s ease-in;
}

.links:hover {
    box-shadow: 1px 1px 0 #7e7195, 0 0 20px 5px #99cfb8, inset 2px 2px 0 #add4c3;
    background-color: rgba(40, 38, 156, 0.1);
}