.navbar {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 30;

    /* This section controls the box height to be 40px. No matter
    what padding you change in child elements, the box height will be
    controlled by height */
    box-sizing: border-box;
    height: 4.5rem;

    /* This will allow us to add widths up to 100% with inline-block of the child elements */
    white-space: nowrap;
    position: sticky;
    top: 0;
}

.navbar a {
    margin: 1rem;
}

.navbar h1 {
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
    width: 30%;
}

.second {
    flex-grow: 1;
}

.navbar button {
    margin: 0 1rem;
}

.sun-icon, .moon-icon {
    font-size: 2.5rem;
    transition: color 0.5s;
    cursor: pointer;
  }
  
  .sun-icon {
    color: #fff59a;
    animation: endless-rotate 5s linear infinite;
  }
  
  .sun-icon:hover {
    color: #f0d90d;
  }
  
  .moon-icon {
    color: #a5bec2;
    animation: vibrate 0.5s linear infinite;
  } 
  
  .moon-icon:hover {
    color: #2c7681;
  }

  .animate {
    transition: transform 0.35s ease-in-out;
  }
  
  .animate.grow {
    transform: scale(1.5);
  }
  
  @keyframes endless-rotate {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes vibrate {
    0% {
      transform: translate(0);
    }
  
    25% {
      transform: translate(2px);
    }
  
    50% {
      transform: translate(-2px);
    }
  
    100% {
      transform: translate(0);
    }
  }

@media (max-width: 600px) {
    .navbar h1 {
        font-size: 0.8rem;
    }

    .margin {
        margin-left: 50px;
    }
}