.navbar {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 30;

  /* This section controls the box height to be 40px. No matter
  what padding you change in child elements, the box height will be
  controlled by height */
  box-sizing: border-box;
  height: 4.5rem;

  /* This will allow us to add widths up to 100% with inline-block of the child elements */
  white-space: nowrap;
  position: sticky;
  top: 0;
}

.navbar a {
  margin: 1rem;
}

.navbar h1 {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  width: 30%;
}

.second {
    flex-grow: 1;
}

.navbar button {
    margin: 0 1rem;
}

.sun-icon, .moon-icon {
    font-size: 2.5rem;
    transition: color 0.5s;
    cursor: pointer;
  }
  
  .sun-icon {
    color: #fff59a;
    animation: vibrate 0.2s linear 1;
  }
  
  .sun-icon:hover {
    color: #f0d90d;
  }
  
  .moon-icon {
    color: #2c7681;
    animation: vibrate 0.2s linear 1;
  } 
  
  .moon-icon:hover {
    color: #529eaa;
  }
  
  @keyframes vibrate {
    from {
      opacity: 0;
      transform: translate(-20px);
    }
  
    to {
      opacity: 1;
      transform: translate(0);
    }
  }

@media (max-width: 600px) {
  .navbar h1 {
    font-size: 0.8rem;
  }

  .margin {
    margin-left: 50px;
  }
}