.tech {
    text-align: center;
}

.tech h3, .tech h1 {
    margin: 20px;
}

.same-line {
    margin-bottom: 3rem;
    
}

.same-line > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
}