.navbar {
    background-color: #525e65;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: #182b41 0px 20px 30px -10px;
    z-index: 30;

    /* This section controls the box height to be 40px. No matter
    what padding you change in child elements, the box height will be
    controlled by height */
    box-sizing: border-box;
    height: 4rem;

    /* This will allow us to add widths up to 100% with inline-block of the child elements */
    white-space: nowrap;
    position: sticky;
    top: 0;
}

.navbar a {
    margin: 1rem;
}

.navbar > h1 {
    margin: 0;
    font-family: 'Ballet', cursive;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.second-div {
    flex-grow: 1;
}

.navbar button {
    margin: 0 1rem;
}