.navbar {
    background-color: #2f6d8a;
    padding: 1rem 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgb(24, 43, 65) 0px 20px 30px -10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar a {
    margin: 1rem;
}

.navbar > h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Bungee Inline', cursive;
    letter-spacing: 0.5rem;
}

.second-div {
    flex-grow: 1;
}

.navbar button {
    margin: 0 1rem;
}