.card {
    border-radius: 1rem;
    transition: 0.5s;
    display: inline-block;

    user-select: none;

    font-size: 1.5rem;
    border: none;
    padding: 10px;
    
    

    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    animation-fill-mode: forwards;

    animation-name: press-out;
}

.card:hover {
    cursor: pointer;
    text-decoration: 'inherit';
}

.card:active {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    animation-name: press-in;
}

@keyframes press-in {
    from {
        -webkit-transform: scale(1);
		-ms-transform:     scale(1);
		transform:         scale(1);
    }

    to {
        -webkit-transform: scale(0.95);
		-ms-transform:     scale(0.95);
		transform:         scale(0.95);
    }
}

@keyframes press-out {
    from {
        -webkit-transform: scale(0.95);
		-ms-transform:     scale(0.95);
		transform:         scale(0.95);
    }

    to {
        -webkit-transform: scale(1);
		-ms-transform:     scale(1);
		transform:         scale(1);
    }
}

@media (max-width: 1200px) {
    .card {
        font-size: 20px; 
    }
}