body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue',
  sans-serif;

  /* Website specific fonts and background colors */
  background-color: #222733;
  color: #dbe8d4;
}

/* This section controls the 
total padding for every child element
of root id. */
#root > * {
  padding-right: 20%;
  padding-left: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Set visited link to have same color with
the original link */
a:link, a:visited {
  color: #dbe8d4;
}

a:active {
  border-bottom-color: #5d997d;
  color: #b1d8aa;
}

h1, h2, h3, p {
  letter-spacing: 0.25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.main-color {
  background-color: #222733;
  color: #dbe8d4;
}

.navbar-color {
  background-color: #525e65;
  box-shadow: #182b41 0px 20px 30px -10px;
}