body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue',
  sans-serif;
}

/* This section controls the 
total padding for every child element
of root id. */
#root > * {
  padding-right: 20%;
  padding-left: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  letter-spacing: 0.25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

/* /////////////////////////////////////////////////////////////////// */
/* Color Section */

body {
  color: #dbe8d4;
  background-color: #222733;
}

.navbar-color {
  background-color: #525e65;
  box-shadow: #182b41 0px 20px 30px -10px;
}

.navbar-color a:link, .navbar-color a:visited  {
  color: #dbe8d4;
}

/* This section controls the colors of tech cards */
.card-color {
  background-color: #24373f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-color:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.social-color {
  background-color: #ad9494;
  color: #24373f;
  border: 1px solid #24373f;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.social-color:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.button-color {
  color: inherit;
  background-color: #24373f;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.button-color:hover {
  background-color: #244945;
}

.project-card-color {
  background-color: #24373f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.footer-color {
  background-color: #2e3445;
  box-shadow: rgba(128, 107, 107, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(109, 85, 85, 0.12) 0px 4px 6px, rgba(46, 42, 42, 0.17) 0px 12px 13px, rgba(155, 49, 49, 0.09) 0px -3px 5px;
}

.maple-icon {
  font-size: 2rem;
  margin: 0 10px;
  transition: color 0.5s;
}

.maple-icon:hover {
  color: #c62c11;
}

.sun-icon {
  font-size: 2.5rem;
  transition: color 0.5s;
  cursor: pointer;
  animation: endless-rotate 5s linear infinite;
}

.sun-icon:hover {
  color: #f0d90d;
}

@keyframes endless-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1300px) {
  .sun-icon {
    font-size: 2rem;
  }
}


/* /////////////////////////////////////////////////////////////////// */

@media (max-width: 800px) {
  #root > * {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (max-width: 400px) {
  #root > * {
    padding-right: 5%;
    padding-left: 5%;
  }
}