.section {
    text-align: center;
    height: 100vh;
    position: relative;
}

.container {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.container h1 {
  letter-spacing: 1px;
  font-size: 45px;
}

.color-light {
  color: #3d3846;
}

.color-dark {
  color: #dbe8d4;
}

@media (max-width: 1000px) {
  .container {
    left: 35%;
  }

  .container h1 {
    letter-spacing: 1px;
  }
}

@media (max-width: 450px) {
  .container {
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }

  .container h1 {
    font-size: 30px;
  }

  .container h2 {
    font-size: 20px;
  }
} 