.project-card {
  width: 300px;
  height: 320px;
  border-radius: 20px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;

  padding: 10px 25px;
  box-sizing: border-box;
}

.project-card h4 {
  flex-grow: 50;
  margin: 0;
}

.project-card button {
  flex-grow: 1;
  margin: 5px 15%;
}

.image-box {
  height: 40%;
  margin: 0 auto 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@media (max-width: 1200px) {
  .project-card {
    width: 200px;
    height: 250px;
    padding: 5px 20px;
  }

  .project-card h4 {
    font-size: 12px;
  }

  .image-box {
    margin-bottom: 10px;
  }
}