.project-card {
  width: 300px;
  height: 320px;
  border-radius: 20px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;

  padding: 10px 5px;
  box-sizing: border-box;
}

.project-card h4 {
  flex-grow: 50;
  margin: 0;
}

.project-card button {
  flex-grow: 1;
  margin: 5px 15%;
}

.project-card img {
  height: 45%;
  width: auto;
  margin: auto;
  border-radius: 100%;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .project-card {
    width: 200px;
    height: 250px;
    padding: 5px 10px;
  }

  .project-card h4 {
    font-size: 12px;
  }

  .project-card img {
    margin-bottom: 10px;
  }
}